.item-enumerated {
  padding: 0 36px;
}
.item-enumerated .number {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: white;
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  color: #930dc5;
}
.item-enumerated h4,
.item-enumerated p {
  color: #252427;
}
.item-enumerated p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  font-size: 1.2em;
}
.item-enumerated figure {
  text-align: center;
}
.item-enumerated figure:last-child {
  margin-top: 48px;
}
.item-enumerated figure:first-child {
  margin-bottom: 48px;
}
