.ev-icon{
  background: url('../images/ev-icon.png') no-repeat;
  display: inline-block;
  padding-left: 92px;
  min-height:80px;
  vertical-align: middle;

  &.small{
    padding-left: 52px;
    min-height:48px;
  }

  &.document{
    background-position: 0 0;
  }

  &.smile{
    background-position: 0 -160px;
  }

  &.star{
    background-position: 0 -320px;
  }

  &.whatsapp{
    background-position: -15px -495px;
  }

  &.phone{
    background-position: -15px -655px;
  }

  &.check{
    background-position: 5px -960px;
  }

  &.calendar{
    background-position: 5px -1125px;
  }

  &.notebook{
    background-position: 5px -1280px;
  }
}