@import "../includes/margins";
@import "../includes/colors";

body{
  background: #f3f4f5;

  > footer{
    position: relative;
    background: url('../images/footer-colors.png') no-repeat center top;
    padding-top: (@padding * 4);
    padding-bottom: 0;

    &:before{
      display: block;
      content: ' ';
      border-top:1px solid white;
      position: absolute;
      top:4px;
      width:100%;
    }

    .logo-inspira{
      display: inline-block;
    }

    .credits-contact{
      margin-top: (@margin * 4);
      padding-top: (@padding * 2);
      padding-bottom: (@padding * 4);
      border-top: 1px solid #cacccd;
    }

    small{
      display: block;
      font-family:"Open Sans", sans-serif;
      text-transform: uppercase;
      color: @black;
      font-size: 0.7em;
      margin-bottom: @margin;
    }

    .logo-evo{
      margin-top:20px;
    }

    .ev-icon{
      float: left;
    }

    .ev-icon,
    .label{
      margin-top:40px;
    }

    .label,
    .value{
      font-family:"Open Sans", sans-serif;
      display: block;
      margin-left: 60px;
      text-align: left;
      padding:0;
      color: @gray;
    }

    .label{
      font-size:1.3em;
      font-weight:300;
      margin-bottom:6px;
    }

    .value{
      font-size:1.5em;
      font-weight:700;
    }

    address{
      font-family:"Open Sans", sans-serif;
      color: @gray;
      text-align: center;
      background: white;
      margin:0;
      padding: (@padding * 2) 0;
      border-top:1px solid #dee6e9;
    }

  }
}