@import "../includes/colors";

h2{
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 4em;
  line-height:1em;
  color: white;
}

h3{
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  font-size: 2.2em;
  color: white;
}

h4{
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  font-size:1.4em;
  line-height:1.4em;
}