.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: ' ';
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
  *zoom: 1;
}
.list.horizontal li {
  display: inline-block;
  padding: 0 6px;
}
.list:before,
.list:after {
  display: table;
  content: ' ';
  line-height: 0;
}
.list:after {
  clear: both;
}
