.area {
  width: 1200px;
  margin: 0 auto;
}
header {
  padding: 36px 24px;
}
article header {
  margin: 0;
  padding: 0;
}
h2 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 12px;
}
h3 {
  margin-top: 0;
}
.push-section {
  margin-top: -150px;
}
.section-course-lists {
  background: url('../images/bg-home.png') no-repeat top center;
  min-height: 580px;
  padding-top: 80px;
}
.section-course-lists header {
  margin-bottom: 84px;
}
.section-course-lists.push-section {
  padding-top: 230px;
}
.course-card-list {
  margin: 0 -12px;
  padding: 0;
  list-style: none;
}
.course-card-list li {
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding: 0 12px;
}
