.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: ' ';
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
  *zoom: 1;
}
.list.horizontal li {
  display: inline-block;
  padding: 0 6px;
}
.list:before,
.list:after {
  display: table;
  content: ' ';
  line-height: 0;
}
.list:after {
  clear: both;
}
.area {
  width: 1200px;
  margin: 0 auto;
}
header {
  padding: 36px 24px;
}
article header {
  margin: 0;
  padding: 0;
}
h2 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 12px;
}
h3 {
  margin-top: 0;
  margin-bottom: 48px;
}
section {
  *zoom: 1;
}
section:before,
section:after {
  display: table;
  content: ' ';
  line-height: 0;
}
section:after {
  clear: both;
}
section img,
section iframe,
section video {
  width: 100%;
}
.section-course-lists {
  background: url('../images/bg-home.png') no-repeat top center;
  min-height: 580px;
  padding-top: 80px;
}
.section-course-lists .course-card-list {
  margin-top: 84px;
}
.section-course-lists.push-section {
  margin-top: -150px;
  padding-top: 220px;
}
.section-course-details {
  padding-bottom: 72px;
}
.section-course-details.push-section {
  margin-top: -150px;
  padding-top: 180px;
}
.section-course-details header {
  float: left;
  width: 50%;
}
.section-course-details h3 {
  height: 90px;
  margin-bottom: 12px;
}
.section-course-details .course-description {
  clear: both;
  background: transparent;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  color: #252427;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 1.1em;
  font-weight: 300;
  padding: 0;
  margin-bottom: 48px;
}
.section-course-details .course-img {
  margin-top: -100px;
}
.section-course-details .course-price {
  position: absolute;
  top: 0;
  left: -160px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}
.section-course-details .course-price .course-price-fold {
  font-size: 26px;
}
.section-course-details .course-price .course-price-value {
  font-size: 40px;
}
.section-course-details .course-price .course-payment-method {
  font-size: 18px;
  font-weight: 300;
  display: block;
  text-align: right;
  margin-top: -6px;
}
.section-course-details.ciencias {
  background-color: #ff3135;
}
.section-course-details.ciencias h3 {
  background: url('../images/course/logo-ciencias.png') no-repeat;
}
.section-course-details.matematica {
  background-color: #fcbb00;
}
.section-course-details.matematica h3 {
  background: url('../images/course/logo-matematica.png') no-repeat;
}
.section-course-details.geografia {
  background-color: #00a683;
}
.section-course-details.geografia h3 {
  background: url('../images/course/logo-geografia.png') no-repeat;
}
.section-course-details.historia {
  background-color: #428cc7;
}
.section-course-details.historia h3 {
  background: url('../images/course/logo-historia.png') no-repeat;
}
.section-course-details.lingua-portuguesa {
  background-color: #786b98;
}
.section-course-details.lingua-portuguesa h3 {
  background: url('../images/course/logo-lpt.png') no-repeat;
}
.section-course-advantages {
  padding: 72px 0;
}
.section-course-advantages h3,
.section-course-advantages p,
.section-course-advantages .text-list h4 {
  color: #252427;
}
.section-course-advantages h3 {
  margin-bottom: 24px;
}
.section-course-call-to-action {
  padding: 36px 0;
  background: #4c847a;
}
.section-course-call-to-action .btn {
  width: 100%;
}
.section-course-call-to-action .btn.btn-large {
  -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.45);
}
.section-course-call-to-action .btn.btn-green {
  color: #2f697d;
}
.section-course-call-to-action .course-call-to-action-text {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 800;
  font-style: italic;
}
.section-course-call-to-action .course-call-to-action-text strong {
  text-transform: uppercase;
  display: block;
}
.section-course-contents {
  padding: 36px 0;
}
.section-course-contents h3 {
  color: #252427;
}
.section-course-contents p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.8em;
  color: #252427;
  margin-bottom: 24px;
}
.section-course-contents iframe {
  width: 100% !important;
  height: 220px !important;
  margin-bottom: 24px;
}
.section-course-caracteristics {
  background-color: #0d9fc5;
  padding-bottom: 70px;
}
.section-course-caracteristics.push-section {
  margin-top: -120px;
  padding-top: 180px;
}
.section-learn-how-to {
  padding-top: 70px;
}
.section-learn-how-to h3 {
  color: #252427;
}
.section-choose-discipline {
  margin-top: 48px;
  padding-bottom: 80px;
}
.section-choose-discipline h4 {
  margin-bottom: 48px;
}
.btn {
  padding: 12px;
  font-size: 12px;
}
.btn:hover {
  background-image: none !important;
  border-color: transparent !important;
}
.btn.white {
  color: white !important;
}
.btn.btn-course {
  background: transparent;
  text-transform: uppercase;
  border: 1px solid white;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.75);
}
.btn.btn-course .course-value-fold {
  font-weight: 700;
  font-size: 1em;
}
.btn.btn-course .course-value {
  font-size: 1.4em;
}
.btn.btn-large {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.3em;
  padding: 8px 120px;
  -webkit-box-shadow: 6px 6px 4px -1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 6px 6px 4px -1px rgba(0, 0, 0, 0.45);
  box-shadow: 6px 6px 4px -1px rgba(0, 0, 0, 0.45);
  text-transform: uppercase;
}
.btn.btn-green {
  background: #37d686;
  color: white;
}
.btn.btn-green:hover {
  background: #39ffaa !important;
  background-image: none;
}
.course-card-list {
  margin: 0 -12px;
  padding: 0;
  list-style: none;
}
.course-card-list > li {
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding: 0 12px;
}
