.course-link {
  font-family: 'Montserrat', sans-serif;
  background: white;
  border-radius: 25px;
  text-decoration: none;
}
.course-link:hover {
  text-decoration: none;
}
.course-link.ciencias {
  color: #ff3135;
}
.course-link.ciencias:hover {
  color: white;
  background: #ff3135;
}
.course-link.matematica {
  color: #fcbb00;
}
.course-link.matematica:hover {
  color: white;
  background: #fcbb00;
}
.course-link.historia {
  color: #428cc7;
}
.course-link.historia:hover {
  color: white;
  background: #428cc7;
}
.course-link.geografia {
  color: #00a683;
}
.course-link.geografia:hover {
  color: white;
  background: #00a683;
}
.course-link.lingua-portuguesa {
  color: #786b98;
}
.course-link.lingua-portuguesa:hover {
  color: white;
  background: #786b98;
}
