.item-enumerated{
  .number {
    display: block;
    float: left;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 1.7em;
    font-size: 1.5em;
  }

  h4{
    margin-left: 46px;
    padding-top: 8px;
  }
}