@import "../../includes/colors";
@import "../../includes/margins";

.item-enumerated{
  padding: 0 (@padding * 3);

  .number{
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background: white;
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    color:#930dc5;
  }

  h4,p{
    color: @black;
  }

  p{
    font-family:"Open Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    font-size:1.2em;
  }

  figure{
    text-align: center;

    &:last-child{
      margin-top: (@margin * 4);
    }

    &:first-child{
      margin-bottom: (@margin * 4);
    }
  }

}