.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: ' ';
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
  *zoom: 1;
}
.list.horizontal li {
  display: inline-block;
  padding: 0 6px;
}
.list:before,
.list:after {
  display: table;
  content: ' ';
  line-height: 0;
}
.list:after {
  clear: both;
}
.area {
  width: 1200px;
  margin: 0 auto;
}
header {
  padding: 36px 24px;
}
article header {
  margin: 0;
  padding: 0;
}
h2 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 12px;
}
h3 {
  margin-top: 0;
  margin-bottom: 48px;
}
section {
  *zoom: 1;
}
section:before,
section:after {
  display: table;
  content: ' ';
  line-height: 0;
}
section:after {
  clear: both;
}
section img,
section iframe,
section video {
  width: 100%;
}
.section-course-lists {
  background: url('../images/bg-home.png') no-repeat top center;
  min-height: 580px;
  padding-top: 80px;
}
.section-course-lists .course-card-list {
  margin-top: 84px;
}
.section-course-lists.push-section {
  margin-top: -150px;
  padding-top: 220px;
}
.section-course-details {
  padding-bottom: 72px;
}
.section-course-details.push-section {
  margin-top: -150px;
  padding-top: 180px;
}
.section-course-details header {
  float: left;
  width: 50%;
}
.section-course-details h3 {
  height: 90px;
  margin-bottom: 12px;
}
.section-course-details .course-description {
  clear: both;
  background: transparent;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  color: #252427;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 1.1em;
  font-weight: 300;
  padding: 0;
  margin-bottom: 48px;
}
.section-course-details .course-img {
  margin-top: -100px;
}
.section-course-details .course-price {
  position: absolute;
  top: 0;
  left: -160px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}
.section-course-details .course-price .course-price-fold {
  font-size: 26px;
}
.section-course-details .course-price .course-price-value {
  font-size: 40px;
}
.section-course-details .course-price .course-payment-method {
  font-size: 18px;
  font-weight: 300;
  display: block;
  text-align: right;
  margin-top: -6px;
}
.section-course-details.ciencias {
  background-color: #ff3135;
}
.section-course-details.ciencias h3 {
  background: url('../images/course/logo-ciencias.png') no-repeat;
}
.section-course-details.matematica {
  background-color: #fcbb00;
}
.section-course-details.matematica h3 {
  background: url('../images/course/logo-matematica.png') no-repeat;
}
.section-course-details.geografia {
  background-color: #00a683;
}
.section-course-details.geografia h3 {
  background: url('../images/course/logo-geografia.png') no-repeat;
}
.section-course-details.historia {
  background-color: #428cc7;
}
.section-course-details.historia h3 {
  background: url('../images/course/logo-historia.png') no-repeat;
}
.section-course-details.lingua-portuguesa {
  background-color: #786b98;
}
.section-course-details.lingua-portuguesa h3 {
  background: url('../images/course/logo-lpt.png') no-repeat;
}
.section-course-advantages {
  padding: 72px 0;
}
.section-course-advantages h3,
.section-course-advantages p,
.section-course-advantages .text-list h4 {
  color: #252427;
}
.section-course-advantages h3 {
  margin-bottom: 24px;
}
.section-course-call-to-action {
  padding: 36px 0;
  background: #4c847a;
}
.section-course-call-to-action .btn {
  width: 100%;
}
.section-course-call-to-action .btn.btn-large {
  -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.45);
}
.section-course-call-to-action .btn.btn-green {
  color: #2f697d;
}
.section-course-call-to-action .course-call-to-action-text {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 800;
  font-style: italic;
}
.section-course-call-to-action .course-call-to-action-text strong {
  text-transform: uppercase;
  display: block;
}
.section-course-contents {
  padding: 36px 0;
}
.section-course-contents h3 {
  color: #252427;
}
.section-course-contents p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.8em;
  color: #252427;
  margin-bottom: 24px;
}
.section-course-contents iframe {
  width: 100% !important;
  height: 220px !important;
  margin-bottom: 24px;
}
.section-course-caracteristics {
  background-color: #0d9fc5;
  padding-bottom: 70px;
}
.section-course-caracteristics.push-section {
  margin-top: -120px;
  padding-top: 180px;
}
.section-learn-how-to {
  padding-top: 70px;
}
.section-learn-how-to h3 {
  color: #252427;
}
.section-choose-discipline {
  margin-top: 48px;
  padding-bottom: 80px;
}
.section-choose-discipline h4 {
  margin-bottom: 48px;
}
.btn {
  padding: 12px;
  font-size: 12px;
}
.btn:hover {
  background-image: none !important;
  border-color: transparent !important;
}
.btn.white {
  color: white !important;
}
.btn.btn-course {
  background: transparent;
  text-transform: uppercase;
  border: 1px solid white;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.75);
}
.btn.btn-course .course-value-fold {
  font-weight: 700;
  font-size: 1em;
}
.btn.btn-course .course-value {
  font-size: 1.4em;
}
.btn.btn-large {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.3em;
  padding: 8px 120px;
  -webkit-box-shadow: 6px 6px 4px -1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 6px 6px 4px -1px rgba(0, 0, 0, 0.45);
  box-shadow: 6px 6px 4px -1px rgba(0, 0, 0, 0.45);
  text-transform: uppercase;
}
.btn.btn-green {
  background: #37d686;
  color: white;
}
.btn.btn-green:hover {
  background: #39ffaa !important;
  background-image: none;
}
.course-card-list {
  margin: 0 -12px;
  padding: 0;
  list-style: none;
}
.course-card-list > li {
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding: 0 12px;
}
body {
  background: #f3f4f5;
}
body > footer {
  position: relative;
  background: url('../images/footer-colors.png') no-repeat center top;
  padding-top: 48px;
  padding-bottom: 0;
}
body > footer:before {
  display: block;
  content: ' ';
  border-top: 1px solid white;
  position: absolute;
  top: 4px;
  width: 100%;
}
body > footer .logo-inspira {
  display: inline-block;
}
body > footer .credits-contact {
  margin-top: 48px;
  padding-top: 24px;
  padding-bottom: 48px;
  border-top: 1px solid #cacccd;
}
body > footer small {
  display: block;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #252427;
  font-size: 0.7em;
  margin-bottom: 12px;
}
body > footer .logo-evo {
  margin-top: 20px;
}
body > footer .ev-icon {
  float: left;
}
body > footer .ev-icon,
body > footer .label {
  margin-top: 40px;
}
body > footer .label,
body > footer .value {
  font-family: "Open Sans", sans-serif;
  display: block;
  margin-left: 60px;
  text-align: left;
  padding: 0;
  color: #777777;
}
body > footer .label {
  font-size: 1.3em;
  font-weight: 300;
  margin-bottom: 6px;
}
body > footer .value {
  font-size: 1.5em;
  font-weight: 700;
}
body > footer address {
  font-family: "Open Sans", sans-serif;
  color: #777777;
  text-align: center;
  background: white;
  margin: 0;
  padding: 24px 0;
  border-top: 1px solid #dee6e9;
}
.ev-icon {
  background: url('../images/ev-icon.png') no-repeat;
  display: inline-block;
  padding-left: 92px;
  min-height: 80px;
  vertical-align: middle;
}
.ev-icon.small {
  padding-left: 52px;
  min-height: 48px;
}
.ev-icon.document {
  background-position: 0 0;
}
.ev-icon.smile {
  background-position: 0 -160px;
}
.ev-icon.star {
  background-position: 0 -320px;
}
.ev-icon.whatsapp {
  background-position: -15px -495px;
}
.ev-icon.phone {
  background-position: -15px -655px;
}
.ev-icon.check {
  background-position: 5px -960px;
}
.ev-icon.calendar {
  background-position: 5px -1125px;
}
.ev-icon.notebook {
  background-position: 5px -1280px;
}
h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 4em;
  line-height: 1em;
  color: white;
}
h3 {
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  font-size: 2.2em;
  color: white;
}
h4 {
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  font-size: 1.4em;
  line-height: 1.4em;
}
.course-card {
  padding: 12px;
  padding-top: 110px;
}
.course-card header,
.course-card .course-description {
  text-align: center;
}
.course-card .course-description {
  padding: 12px;
  padding-top: 0;
  margin: 0;
  margin-top: 6px;
  margin-bottom: 6px;
}
.course-card footer {
  text-align: center;
  *zoom: 1;
}
.course-card footer time {
  display: block;
  *zoom: 1;
}
.course-card footer time span {
  display: block;
  clear: both;
}
.course-card footer time .course-time-total {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 1.6em;
  line-height: 1em;
}
.course-card footer time .course-time-description {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}
.course-card footer time:before,
.course-card footer time:after {
  display: table;
  content: ' ';
  line-height: 0;
}
.course-card footer time:after {
  clear: both;
}
.course-card footer:before,
.course-card footer:after {
  display: table;
  content: ' ';
  line-height: 0;
}
.course-card footer:after {
  clear: both;
}
.course-card .course-card-info-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  *zoom: 1;
}
.course-card .course-card-info-list li {
  display: inline-block;
  padding: 0 12px;
  vertical-align: middle;
}
.course-card .course-card-info-list li:first-child {
  padding-left: 0;
}
.course-card .course-card-info-list li:last-child {
  padding-right: 0;
  border-right: 0;
}
.course-card .course-card-info-list:before,
.course-card .course-card-info-list:after {
  display: table;
  content: ' ';
  line-height: 0;
}
.course-card .course-card-info-list:after {
  clear: both;
}
.course-card {
  color: #252427;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 17px 21px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 17px 21px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 17px 21px -8px rgba(0, 0, 0, 0.75);
  background-repeat: no-repeat;
  background-position: center 12px;
}
.course-card .course-description {
  line-height: 1.3em;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.course-card .course-card-info-list li {
  border-right: 3px solid rgba(0, 0, 0, 0.2);
}
.course-card.ciencias {
  background-image: url('../images/ciencias.png');
  background-color: #ff3135;
}
.course-card.matematica {
  background-image: url('../images/matematica.png');
  background-color: #fcbb00;
}
.course-card.geografia {
  background-image: url('../images/geografia.png');
  background-color: #00a683;
}
.course-card.historia {
  background-image: url('../images/historia.png');
  background-color: #428cc7;
}
.course-card.lingua-portuguesa {
  background-image: url('../images/lingua-portuguesa.png');
  background-color: #786b98;
}
.text-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.text-list.vertical .text-list-item {
  margin-bottom: 12px;
}
.text-list .text-list-item {
  *zoom: 1;
}
.text-list .text-list-item:before,
.text-list .text-list-item:after {
  display: table;
  content: ' ';
  line-height: 0;
}
.text-list .text-list-item:after {
  clear: both;
}
.text-list .avatar {
  float: left;
  width: auto;
  height: auto;
  border: 0;
  outline: 0;
  box-shadow: none;
  margin: 0;
  padding: 0;
}
.text-list h4,
.text-list p {
  margin-left: 92px;
  padding-left: 12px;
}
.text-list h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.2em;
  margin-bottom: 4px;
}
.text-list p {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 1.2em;
}
.text-list h4 {
  color: white;
}
.text-list.asteriscs .text-list-item {
  position: relative;
}
.text-list.asteriscs .text-list-item:before {
  display: block;
  position: absolute;
  background: url('../images/ev-icon.png') no-repeat;
  background-position: -30px -825px;
  content: ' ';
  width: 20px;
  height: 20px;
}
.text-list.asteriscs .text-list-item h4 {
  font-weight: 300;
  font-style: normal;
  font-size: 1.1em;
  margin-left: 12px;
}
.item-enumerated .number {
  display: block;
  float: left;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 1.7em;
  font-size: 1.5em;
}
.item-enumerated h4 {
  margin-left: 46px;
  padding-top: 8px;
}
.item-enumerated {
  padding: 0 36px;
}
.item-enumerated .number {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: white;
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  color: #930dc5;
}
.item-enumerated h4,
.item-enumerated p {
  color: #252427;
}
.item-enumerated p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  font-size: 1.2em;
}
.item-enumerated figure {
  text-align: center;
}
.item-enumerated figure:last-child {
  margin-top: 48px;
}
.item-enumerated figure:first-child {
  margin-bottom: 48px;
}
.course-link {
  text-transform: uppercase;
  font-size: 1.2em;
  padding: 12px 24px;
}
.course-link {
  font-family: 'Montserrat', sans-serif;
  background: white;
  border-radius: 25px;
  text-decoration: none;
}
.course-link:hover {
  text-decoration: none;
}
.course-link.ciencias {
  color: #ff3135;
}
.course-link.ciencias:hover {
  color: white;
  background: #ff3135;
}
.course-link.matematica {
  color: #fcbb00;
}
.course-link.matematica:hover {
  color: white;
  background: #fcbb00;
}
.course-link.historia {
  color: #428cc7;
}
.course-link.historia:hover {
  color: white;
  background: #428cc7;
}
.course-link.geografia {
  color: #00a683;
}
.course-link.geografia:hover {
  color: white;
  background: #00a683;
}
.course-link.lingua-portuguesa {
  color: #786b98;
}
.course-link.lingua-portuguesa:hover {
  color: white;
  background: #786b98;
}
