@import "../includes/margins";

.btn{
  padding: @padding;
  font-size: 12px;

  &:hover{
    background-image: none !important;
    border-color: transparent !important;
  }

  &.white{
    color: white !important;
  }

  &.btn-course{
    background: transparent;
    text-transform: uppercase;
    border:1px solid white;
    font-family:"Open Sans", sans-serif;
    font-weight: 800;
    color: rgba(0,0,0,0.75);

    .course-value-fold{
      font-weight: 700;
      font-size:1em;
    }

    .course-value{
      font-size:1.4em;
    }
  }

  &.btn-large{
    font-family:'Montserrat', sans-serif;
    font-weight:800;
    font-size:1.3em;
    padding:8px 120px;
    -webkit-box-shadow: 6px 6px 4px -1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 6px 6px 4px -1px rgba(0, 0, 0, 0.45);
    box-shadow: 6px 6px 4px -1px rgba(0, 0, 0, 0.45);
    text-transform: uppercase;
  }

  &.btn-green{
    background: #37d686;
    color: white;

    &:hover{
      background: #39ffaa !important;
      background-image: none;
    }
  }
  
}