@import "../includes/margins";

.course-card-list{
    margin: 0 -@padding;
    padding: 0;
    list-style: none;

    > li{
        float:left;
        width: 20%;
        box-sizing: border-box;
        padding: 0 @padding;
    }
}