@import "../includes/helpers";
@import "../includes/margins";

.list{
  list-style: none;
  margin:0;
  padding:0;

  &.horizontal{
    li{
      display: inline-block;
      padding:0 (@padding / 2);
    }
  }

  .clearfix;
}