@import "../includes/margins";
@import "../includes/colors";
@import "../includes/helpers";

section{
  .clearfix;

  img, iframe, video{
    width:100%;
  }
}

.section-course-lists{
  background: url('../images/bg-home.png') no-repeat top center;
  min-height: 580px;
  padding-top: 80px;

  .course-card-list{
    margin-top: @margin * 7;
  }

  &.push-section{
    margin-top: -150px;
    padding-top:220px;
  }
}

.section-course-details{
  padding-bottom:@padding * 6;

  &.push-section{
    margin-top: -150px;
    padding-top:180px;
  }
  
  header{
    float: left;
    width: 50%;
  }

  h3{
    height:90px;
    margin-bottom: @margin;
  }

  .course-description{
    clear: both;
    background: transparent;
    box-shadow: none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    border:0;
    color: @black;
    font-family:"Open Sans", sans-serif;
    font-style: italic;
    font-size:1.1em;
    font-weight:300;
    padding:0;
    margin-bottom: @margin * 4;
  }

  .course-img{
    margin-top:-100px;
  }

  .course-price{
    position: absolute;
    top: 0;
    left: -160px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;

    .course-price-fold{
      font-size:26px;
    }
    .course-price-value{
      font-size:40px;
    }
    .course-payment-method{
      font-size: 18px;
      font-weight: 300;
      display: block;
      text-align: right;
      margin-top: -6px;
    }
  }
  
  &.ciencias{
    background-color: @ciencias;

    h3{
      background: url('../images/course/logo-ciencias.png') no-repeat;
    }
  }

  &.matematica{
    background-color: @matematica;

    h3{
      background: url('../images/course/logo-matematica.png') no-repeat;
    }
  }

  &.geografia{
    background-color: @geografia;

    h3{
      background: url('../images/course/logo-geografia.png') no-repeat;
    }
  }

  &.historia{
    background-color: @historia;

    h3{
      background: url('../images/course/logo-historia.png') no-repeat;
    }
  }

  &.lingua-portuguesa{
    background-color: @lingua-portuguesa;

    h3{
      background: url('../images/course/logo-lpt.png') no-repeat;
    }
  }
}

.section-course-advantages{
  padding: (@padding * 6) 0;

  h3, p, .text-list h4{
    color: @black;
  }

  h3{
    margin-bottom: @margin * 2;
  }
}

.section-course-call-to-action{
  padding: (@padding * 3) 0;
  background: #4c847a;

  .btn{
    width:100%;

    &.btn-large{
      -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.45);
      -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.45);
      box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.45);
    }

    &.btn-green{
      color: #2f697d;
    }
  }

  .course-call-to-action-text{
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size:1.2em;
    line-height:1.4em;
    font-weight:800;
    font-style: italic;

    strong{
      text-transform: uppercase;
      display: block;
    }
  }
}

.section-course-contents{
  padding: (@padding * 3) 0;

  h3{
    color: @black;
  }

  p{
    font-family:"Open Sans", sans-serif;
    font-weight:300;
    font-size:1.1em;
    line-height:1.8em;
    color: @black;
    margin-bottom: (@margin * 2);
  }

  iframe{
    width: 100% !important;
    height:220px !important;
    margin-bottom: (@margin *2);
  }
}

.section-course-caracteristics{
  background-color: #0d9fc5;
  padding-bottom: 70px;

  &.push-section{
    margin-top:-120px;
    padding-top: 180px;
  }
}

.section-learn-how-to{
  padding-top: 70px;

  h3{
    color: @black;
  }
}

.section-choose-discipline{
  margin-top: @margin * 4;
  padding-bottom:80px;

  h4{
    margin-bottom: @margin * 4;
  }
}