.text-list h4 {
  color: white;
}
.text-list.asteriscs .text-list-item {
  position: relative;
}
.text-list.asteriscs .text-list-item:before {
  display: block;
  position: absolute;
  background: url('../images/ev-icon.png') no-repeat;
  background-position: -30px -825px;
  content: ' ';
  width: 20px;
  height: 20px;
}
.text-list.asteriscs .text-list-item h4 {
  font-weight: 300;
  font-style: normal;
  font-size: 1.1em;
  margin-left: 12px;
}
