.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: ' ';
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.text-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.text-list.vertical .text-list-item {
  margin-bottom: 12px;
}
.text-list .text-list-item {
  *zoom: 1;
}
.text-list .text-list-item:before,
.text-list .text-list-item:after {
  display: table;
  content: ' ';
  line-height: 0;
}
.text-list .text-list-item:after {
  clear: both;
}
.text-list .avatar {
  float: left;
  width: auto;
  height: auto;
  border: 0;
  outline: 0;
  box-shadow: none;
  margin: 0;
  padding: 0;
}
.text-list h4,
.text-list p {
  margin-left: 92px;
  padding-left: 12px;
}
.text-list h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.2em;
  margin-bottom: 4px;
}
.text-list p {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 1.2em;
}
