@import "../../includes/margins";
@import "../../includes/colors";

.course-card{
  color: @black;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 17px 21px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 17px 21px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 17px 21px -8px rgba(0,0,0,0.75);
  background-repeat: no-repeat;
  background-position: center 12px;

  .course-description{
    line-height: 1.3em;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .course-card-info-list{
    li{
      border-right:3px solid rgba(0,0,0,0.2);
    }
  }

  &.ciencias{
    background-image: url('../images/ciencias.png');
    background-color: @ciencias;
  }

  &.matematica{
    background-image: url('../images/matematica.png');
    background-color: @matematica;
  }

  &.geografia{
    background-image: url('../images/geografia.png');
    background-color: @geografia;
  }

  &.historia{
    background-image: url('../images/historia.png');
    background-color: @historia;
  }

  &.lingua-portuguesa{
    background-image: url('../images/lingua-portuguesa.png');
    background-color: @lingua-portuguesa;
  }
}