@import "../../includes/margins";
@import "../../includes/helpers";

.course-card{
  padding: @padding;
  padding-top: 110px;

  header,
  .course-description{
    text-align: center;
  }

  .course-description{
    padding: @padding;
    padding-top: 0;
    margin: 0;
    margin-top: 6px;
    margin-bottom: 6px;
  }

  footer{
    text-align: center;

    time{
      display: block;

      span{
        display: block;
        clear: both;
      }

      .course-time-total{
        font-family: "Open Sans", sans-serif;
        font-weight: 800;
        font-size: 1.6em;
        line-height:1em;
      }

      .course-time-description{
        font-family: "Open Sans", sans-serif;
        font-weight: normal;
      }

      .clearfix;
    }

    .clearfix;
  }

  .course-card-info-list{
    display: inline-block;
    margin:0;
    padding:0;
    list-style:none;

    li{
      display: inline-block;
      padding:0 @padding;
      vertical-align: middle;

      &:first-child{
        padding-left:0;
      }

      &:last-child{
        padding-right:0;
        border-right: 0;
      }
    }

    .clearfix;
  }

}