@import "../../includes/margins";

.text-list{

  h4{
    color: white;
  }

  &.asteriscs{
    .text-list-item{
      position: relative;
      
      &:before{
        display: block;
        position: absolute;
        background: url('../images/ev-icon.png') no-repeat;
        background-position: -30px -825px;
        content: ' ';
        width: 20px;
        height:20px;
      }
      
      h4{
        font-weight:300;
        font-style: normal;
        font-size:1.1em;
        margin-left:@margin;
      }
    }
  }
}