@import "../../includes/margins";
@import "../../includes/helpers";

.text-list{
  list-style:none;
  margin:0;
  padding:0;

  &.vertical{
    .text-list-item{
      margin-bottom: @margin;
    }
  }

  .text-list-item{
    .clearfix;
  }

  .avatar{
    float: left;
    width: auto;
    height: auto;
    border: 0;
    outline: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }

  h4, p {
    margin-left: 92px;
    padding-left: @padding;
  }

  h4{
    font-family:"Open Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size:1.2em;
    margin-bottom:4px;
  }

  p{
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-size:1.2em;
  }
}