.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: ' ';
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.course-card {
  padding: 12px;
  padding-top: 110px;
}
.course-card header,
.course-card .course-description {
  text-align: center;
}
.course-card .course-description {
  padding: 12px;
  padding-top: 0;
  margin: 0;
  margin-top: 6px;
  margin-bottom: 6px;
}
.course-card footer {
  text-align: center;
  *zoom: 1;
}
.course-card footer time {
  display: block;
  *zoom: 1;
}
.course-card footer time span {
  display: block;
  clear: both;
}
.course-card footer time .course-time-total {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 1.6em;
  line-height: 1em;
}
.course-card footer time .course-time-description {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}
.course-card footer time:before,
.course-card footer time:after {
  display: table;
  content: ' ';
  line-height: 0;
}
.course-card footer time:after {
  clear: both;
}
.course-card footer:before,
.course-card footer:after {
  display: table;
  content: ' ';
  line-height: 0;
}
.course-card footer:after {
  clear: both;
}
.course-card .course-card-info-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  *zoom: 1;
}
.course-card .course-card-info-list li {
  display: inline-block;
  padding: 0 12px;
  vertical-align: middle;
}
.course-card .course-card-info-list li:first-child {
  padding-left: 0;
}
.course-card .course-card-info-list li:last-child {
  padding-right: 0;
  border-right: 0;
}
.course-card .course-card-info-list:before,
.course-card .course-card-info-list:after {
  display: table;
  content: ' ';
  line-height: 0;
}
.course-card .course-card-info-list:after {
  clear: both;
}
