.ev-icon {
  background: url('../images/ev-icon.png') no-repeat;
  display: inline-block;
  padding-left: 92px;
  min-height: 80px;
  vertical-align: middle;
}
.ev-icon.small {
  padding-left: 52px;
  min-height: 48px;
}
.ev-icon.document {
  background-position: 0 0;
}
.ev-icon.smile {
  background-position: 0 -160px;
}
.ev-icon.star {
  background-position: 0 -320px;
}
.ev-icon.whatsapp {
  background-position: -15px -495px;
}
.ev-icon.phone {
  background-position: -15px -655px;
}
.ev-icon.check {
  background-position: 5px -960px;
}
.ev-icon.calendar {
  background-position: 5px -1125px;
}
.ev-icon.notebook {
  background-position: 5px -1280px;
}
