body {
  background: #f3f4f5;
}
body > footer {
  position: relative;
  background: url('../images/footer-colors.png') no-repeat center top;
  padding-top: 48px;
  padding-bottom: 0;
}
body > footer:before {
  display: block;
  content: ' ';
  border-top: 1px solid white;
  position: absolute;
  top: 4px;
  width: 100%;
}
body > footer .logo-inspira {
  display: inline-block;
}
body > footer .credits-contact {
  margin-top: 48px;
  padding-top: 24px;
  padding-bottom: 48px;
  border-top: 1px solid #cacccd;
}
body > footer small {
  display: block;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #252427;
  font-size: 0.7em;
  margin-bottom: 12px;
}
body > footer .logo-evo {
  margin-top: 20px;
}
body > footer .ev-icon {
  float: left;
}
body > footer .ev-icon,
body > footer .label {
  margin-top: 40px;
}
body > footer .label,
body > footer .value {
  font-family: "Open Sans", sans-serif;
  display: block;
  margin-left: 60px;
  text-align: left;
  padding: 0;
  color: #777777;
}
body > footer .label {
  font-size: 1.3em;
  font-weight: 300;
  margin-bottom: 6px;
}
body > footer .value {
  font-size: 1.5em;
  font-weight: 700;
}
body > footer address {
  font-family: "Open Sans", sans-serif;
  color: #777777;
  text-align: center;
  background: white;
  margin: 0;
  padding: 24px 0;
  border-top: 1px solid #dee6e9;
}
