@import "../../includes/margins";
@import "../../includes/colors";

.course-link{
  font-family: 'Montserrat', sans-serif;
  background: white;
  border-radius: 25px;
  text-decoration: none;

  &:hover{
    text-decoration: none;
  }

  &.ciencias{
    color: @ciencias;

    &:hover{
      color: white;
      background: @ciencias;
    }

  }

  &.matematica{
    color: @matematica;

    &:hover{
      color: white;
      background: @matematica;
    }
  }

  &.historia{
    color: @historia;

    &:hover{
      color: white;
      background: @historia;
    }
  }

  &.geografia{
    color: @geografia;

    &:hover{
      color: white;
      background: @geografia;
    }
  }

  &.lingua-portuguesa{
    color: @lingua-portuguesa;

    &:hover{
      color: white;
      background: @lingua-portuguesa;
    }
  }
}